.center {
    margin: auto;
    text-align: center;
}

table {
    padding: 30px 30px 30px 30px;
    border: 1px solid #000000;
    background-color: grey;
    margin: auto;
    empty-cells: hide;
}

td {    
    width: 100px;
    height: 100px;
    background-color: #fcf5e1;
    font-size: 30px;
    color: grey;
    text-align: center;
}
