.center {
    text-align: center;
    margin: auto;
    width: 500px;
    height: 500px;
}

table {
    padding: 30px 30px 30px 30px;
    border: 1px solid #000000;
    background-color: grey;
    margin: auto;
}

td {    
    width: 100px;
    height: 100px;
    background-color: #fcf5e1;
    font-size: 30px;
    color: grey;
    text-align: center;
}

#empty {
    background-color: grey;
}